{% extends "layout.html" %}
{% block content %}
<h2>Nieuw wachtwoord instellen</h2>

<form action="{{ url_for('reset_password', token=token) }}" method="post">
    {% if error %}
        <div class="error-message" style="margin-bottom: 10px;">{{ error }}</div>
    {% endif %}

    <div class="input-group">
        <input type="password" name="password" placeholder="Kies een nieuw wachtwoord" required>
    </div>

    <div class="input-group">
        <input type="password" name="confirm_password" placeholder="Bevestig nieuw wachtwoord" required>
    </div>

    <button type="submit" class="btn btn-primary">Wachtwoord opslaan</button>
</form>
{% endblock %}